<!-- BEGIN: HOME -->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<!-- <div class="text-center pt-5 pl-5 pb-5 tit">
  <h4>APPLE</h4>
  <div><img src="img/seperate.png"  alt=""></div>
</div> -->

<div class="row container-fluid m-auto " >
<!-- BEGIN: APPLE -->
    <div class="col-lg-4 col-xl-3 col-12 col-sm-6 mt-2 product-item">
        <a href="product/list&id={APPLE.pro_id}" style="text-decoration:none">
          <div class="card card-block card-img" style="border: 0;">
            <img class="card-img-top mt-2" src="{APPLE.pro_img}" alt="Card image">
            <div class="card-body">
              <div class="mb-2" style="color: rgb(212, 127, 93);"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
              <p class="card-name mt-1" style="display: inline;">{APPLE.pro_name}</p>
              <p class="card-text mr-4" style="display: inline; float: right;">${APPLE.pro_price}</p>
            </div>
          </div>
        </a>
    </div>

<!-- END: APPLE --> 
</div>

<!-- 
<div class="text-center pt-5 pl-5 pb-5">
  <h4>More Phones</h4>
  <div><img src="img/seperate.png"  alt=""></div>
</div>
<div class="hot-items row m-1 d-flex justify-content-around">
    <div class="col-xl-4 col-md-6" >
        <div class="card" style="height: 500px;">
            <img src="img/iphone11.png" alt="">
            <button id="card-title">Apple</button>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
    <div class="card" style="height: 500px;">
        <img src="img/ssgl10.jpg" alt="">
        <button id="card-title">Samsung</button>
    </div>
    </div>
    <div class="col-xl-4 col-md-6">
    <div class="card" style="height: 500px;">
        <img src="img/oppoa31.jpg" alt="">
        <button id="card-title">Oppo</button>
    </div>
    </div>
</div> -->
<main>
  <!--? slider Area Start -->
  <div class="slider-area ">
      <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center slide-bg">
              <div class="container">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                          <div class="hero__caption">
                              <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Have yourself our brand new iPhone</h1>
                              <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                              <!-- Hero-btn -->
                              <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                  <a href="product/all" class="btn hero-btn">Shop Now</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                          <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                              <img src="../img/1588333345_1588254533_1587294030_spacegray1-1.png" alt="" style="margin-left: -200px;" >
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center slide-bg">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Be the first to get this iPad </h1>
                            <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                            <!-- Hero-btn -->
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                <a href="product/all" class="btn hero-btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                        <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                            <img src="../img/1588854593_1588092861_ipad-10-2-inch-wifi-cellular-128gb-2019-gray-600x600.jpg" alt="" style="margin-left: -200px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- slider Area End-->
  <!-- ? New Product Start -->
  <section class="new-product-area section-padding30">
      <div class="container">
          <!-- Section tittle -->
          <div class="row">
              <div class="col-xl-12">
                  <div class="section-tittle mb-70">
                      <h2>New Arrivals</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <!-- BEGIN: NEW -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-new-pro mb-30 text-center">
                      <div class="product-img">
                          <img src="{NEW.pro_img}" style="height: 350px;" alt="">
                      </div>
                      <div class="product-caption">
                          <h3><a href="product/list&id={NEW.pro_id}">{NEW.pro_name}</a></h3>
                          <span>$ {NEW.pro_price}</span>
                      </div>
                  </div>
              </div>
            <!-- END: NEW -->
            
          </div>
      </div>
  </section>
  <!--  New Product End -->
  <!--? Gallery Area Start -->
  <div class="gallery-area">
      <div class="container-fluid p-0 fix">
          <div class="row">
              <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-gallery mb-30">
                      <div class="gallery-img big-img" style="background-image: url('img/i1.jpg');"></div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-gallery mb-30">
                      <div class="gallery-img big-img" style="background-image: url('img/i2.jpg');"></div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12">
                  <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                          <div class="single-gallery mb-30">
                              <div class="gallery-img small-img" style="background-image: url('img/i3.jpg');"></div>
                          </div>
                      </div>
                      <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                          <div class="single-gallery mb-30">
                              <div class="gallery-img small-img" style="background-image: url('img/i4.jpg');"></div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Gallery Area End -->
  <!--? Popular Items Start -->
  <div class="popular-items section-padding30">
      <div class="container">
          <!-- Section tittle -->
          <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8 col-md-10">
                  <div class="section-tittle mb-70 text-center">
                      <h2>Popular Items</h2>
                      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
              </div>
          </div>
          <div class="row">
            <!-- BEGIN: POPULAR -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{POPULAR.pro_img}" style="height: 350px;" alt="">
                          <div class="img-cap">
                            <a href="product/list&id={POPULAR.pro_id}"><span>View Details</span></a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="product/list&id={POPULAR.pro_id}">{POPULAR.pro_name}</a></h3>
                          <span>$ {POPULAR.pro_price}</span>
                      </div>
                  </div>
              </div>
            <!-- END: POPULAR -->

          </div>
          <!-- Button -->
          <div class="row justify-content-center">
              <div class="room-btn pt-70">
                  <a href="product/all" class="btn view-btn1">View More Products</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Popular Items End -->
  <!--? Video Area Start -->
  <div class="video-area">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-lg-12">
              <div class="video-wrap">
                  <div class="play-btn "><a class="popup-video"  style="padding-top: 2.1%;" href="https://www.youtube.com/watch?v=s9XvGH53MjI"><i class="fas fa-play"></i></a></div>
              </div>
              </div>
          </div>
          <!-- Arrow -->
          <div class="thumb-content-box">
              <div class="thumb-content">
                  <h3>Next Video</h3>
                  <a href="#"> <i class="flaticon-arrow"></i></a>
              </div>
          </div>
      </div>
  </div>
  <!-- Video Area End --><!-- 
  <div class="watch-area section-padding30">
      <div class="container">
          <div class="row align-items-center justify-content-between padding-130">
              <div class="col-lg-5 col-md-6">
                  <div class="watch-details mb-40">
                      <h2>Watch of Choice</h2>
                      <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                      <a href="shop.html" class="btn">Show Watches</a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="choice-watch-img mb-40">
                      <img src="assets/img/gallery/choce_watch1.png" alt="">
                  </div>
              </div>
          </div>
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="choice-watch-img mb-40">
                      <img src="assets/img/gallery/choce_watch2.png" alt="">
                  </div>
              </div>
              <div class="col-lg-5 col-md-6">
                  <div class="watch-details mb-40">
                      <h2>Watch of Choice</h2>
                      <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                      <a href="shop.html" class="btn">Show Watches</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Watch Choice  End-->
  <!--? Shop Method Start-->
  <div class="shop-method-area mt-2">
      <div class="container">
          <div class="method-wrapper">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-package"></i>
                          <h6>Free Shipping Method</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-unlock"></i>
                          <h6>Secure Payment System</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div> 
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-reload"></i>
                          <h6>Secure Payment System</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Shop Method End-->
</main>
</body>
</html>
<style>
.carousel-item img{
  height: 600px;
}
.card{
  border:0;
}
.card img{
  height: 100%;
}
#card-title{
  position: relative;
  bottom: 80px;
  left: 40px;
  width: 100px;
  border-radius: 20px;
  border: 0;
  padding: 2%;
}
#card-title:hover{
  opacity: 0.9;
  transition-duration: 0.5s;
}
.card-block {
  min-height: 300px;
}
.card-flex{
  overflow-x: auto;
  overflow-y:hidden;

}
.card-img img{
  height: 350px;
}
.card-text{
  color: black;
  font-weight:500

}
.card-name{
  color: black;
  font-weight:500
}
.card-category{
  color: gray;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(83, 80, 79, 0.5); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow:inset 0 0 6px rgba(121, 116, 116, 0.5); 
}

.product-item:hover{
  box-shadow: 2px 2px 2px 2px rgb(156, 154, 154);
  border-radius: 10px;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition-duration: 0.5s;
}
@media screen and (max-width:800px){
  .card-img{
    width: 100%;
  }
  .card-flex{
    width:700px;
  }
}
</style>
<!-- END: HOME -->