<!-- BEGIN: LAYOUT-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../img/logo.jpg" style="border-radius: 50%;" type="image/gif" sizes="16x16">
        <title>Home - Shopping Online</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/7c67c69820.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="{x}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{x}assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{x}assets/css/flaticon.css">
    <link rel="stylesheet" href="{x}assets/css/slicknav.css">
    <link rel="stylesheet" href="{x}assets/css/animate.min.css">
    <link rel="stylesheet" href="{x}assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{x}assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{x}assets/css/themify-icons.css">
    <link rel="stylesheet" href="{x}assets/css/slick.css">
    <link rel="stylesheet" href="{x}assets/css/nice-select.css">
    <link rel="stylesheet" href="{x}assets/css/style.css">
</head>
<body>
  <header>
    <div class="search-model-box" style="display: none;">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo mb-2">
                        <a href="{x}home"><img src="{x}img/logo.jpg" style="height: 80px;" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>                                                
                            <ul id="navigation">  
                                <li><a href="{x}home" id="home">Home</a></li>
                                <li><a href="{x}product/all" id="product">product</a>
                                    <ul class="submenu">
                                        <li><a href="{x}product/mac"> Mac</a></li>
                                        <li><a href="{x}product/ipad"> iPad</a></li>
                                        <li><a href="{x}product/iphone"> iPhone</a></li>
                                        <li><a href="{x}product/tv"> TV</a></li>
                                        <li><a href="{x}product/accessories"> Accessories</a></li>
                                    </ul>
                                </li>
                                <li><a href="{x}about" id="about">about</a></li>
                                <li><a href="{x}wishlist" id="wishlist">Wish list</a></li>
                                <li><a href="{x}contact" id="contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li>
                            <li> <a href="{x}userdetail/list"><span class="flaticon-user"></span></a></li>
                            <li>
                                <div>
                                    <a href="{x}cart/list">
                                        <span class="flaticon-shopping-cart">    {totalCount}</span>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<div class="content" >{content}
</div><!-- 
<a href="{x}cart/list">
  <div id="myCart">
    <i class="fas fa-shopping-bag" style="height: 20px;"></i>
    <span style="margin-left: 5px; color: white;" class="badge badge-pill badge-secondary">{totalCount}</span></div>
</a> -->
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="{x}home"><img src="{x}img/logo.jpg" style="height: 120px;" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#">  Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul>
                                <li><a href="#">Woman Cloth</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#"> Man Accessories</a></li>
                                <li><a href="#"> Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Frequently Asked Questions</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
        </div>
    </div>
    <!-- Footer End-->
</footer>
<input id="category" value="{category}">
</body>
</html>
<style>


.content{
  min-height: 600px;
}
#scrollUp{
    padding-top: 10px;
}
.list-item{
    height: auto;
}
</style>
<script>
$(document).ready(function() {
  $(window).resize(function(){
    if ($(window).width() >= 980){	

        // when you hover a toggle show its dropdown menu
        $(".navbar .dropdown-toggle").hover(function () {
          $(this).parent().toggleClass("show");
          $(this).parent().find(".dropdown-menu").toggleClass("show"); 
        });

          // hide the menu when the mouse leaves the dropdown
        $( ".navbar .dropdown-menu" ).mouseleave(function() {
          $(this).removeClass("show");  
        });
    
      // do something here
    }	
  }); 
});



// document ready  

</script><!-- JS here -->

<script src="{x}assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{x}assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="{x}assets/js/popper.min.js"></script>
<script src="{x}assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="{x}assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{x}assets/js/owl.carousel.min.js"></script>
<script src="{x}assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{x}assets/js/wow.min.js"></script>
<script src="{x}assets/js/animated.headline.js"></script>
<script src="{x}assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{x}assets/js/jquery.scrollUp.min.js"></script>
<script src="{x}assets/js/jquery.nice-select.min.js"></script>
<script src="{x}assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="{x}assets/js/contact.js"></script>
<script src="{x}assets/js/jquery.form.js"></script>
<script src="{x}assets/js/jquery.validate.min.js"></script>
<script src="{x}assets/js/mail-script.js"></script>
<script src="{x}assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{x}assets/js/plugins.js"></script>
<script src="{x}assets/js/main.js"></script>
<link href="{x}css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
<script type="text/javascript" src="{x}js/mdb.min.js"></script>
<script>
    var category = $('#category').val();
        $('#'+category+'').css(
            "color","red"
        )
        $('#'+category+'').css(
            "font-size","1rem"
        )
        view = $('#view').val();
        $("#exampleFormControlSelect1 option[value="+view+"]").attr('selected', 'selected'); 
</script>
<!-- END: LAYOUT-->
